{% extends 'base.html' %}

{% block content %}

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-md-3">
                    <nav class="list-group">
                        <a class="list-group-item" href="profile-main.html"> Account overview </a>
                        <a class="list-group-item" href="page-profile-address.html"> My Address </a>
                        <a class="list-group-item active" href="profile-orders.html"> My Orders </a>
                        <a class="list-group-item" href="wishlist.html"> My wishlist </a>
                        <a class="list-group-item" href="page-profile-seller.html"> My Selling Items </a>
                        <a class="list-group-item" href="profile-settings.html"> Settings </a>
                        <a class="list-group-item" href="page-index-1.html"> Log out </a>
                    </nav>
                </aside> <!-- col.// -->
                <main class="col-md-9">
                    {% for order in orders %}
                        <article class="card mb-4">
                            <header class="card-header">
                                <a href="#" class="float-right"> <i class="fa fa-print"></i> Print</a>
                                <strong class="d-inline-block mr-3">Order ID: {{ order.id }}</strong>
                                <span>Order Date: {{ order.created_at|date:"d.m.Y" }}</span>
                            </header>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6 class="text-muted">Delivery to</h6>
                                        <p>{{ order.first_name }} {{ order.last_name }}<br>
                                            Phone Number: {{ order.phone_number }}<br>
                                            Location: {{ order.country }}, {{ order.city }}, {{ order.address }}<br>
                                            P.O. Box: 150100
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="text-muted">Payment</h6>
                                        <p>
                                            <span class="b">Total:  ${{ order.total_price }} </span>
                                        </p>
                                        <p>
                                            Type: {{ order.payment_type }}
                                        </p>
                                    </div>
                                </div> <!-- row.// -->
                            </div> <!-- card-body .// -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                    {% for order_item in order.orderitem_set.all %}
                                        <tr>
                                            <td width="65">
                                                <img src="{{ order_item.product.image_set.all.first.image.url}}" class="img-xs border">
                                            </td>
                                            <td>
                                                <p class="title mb-0">{{ order_item.product.name }}</p>
                                                <var class="price text-muted">USD {{ order_item.product.price }}</var>
                                            </td>
                                            <td> Brand <br> {{ order_item.product.brand }}</td>
                                            <td width="250"><a href="#" class="btn btn-outline-primary">Track order</a>
                                                <div class="dropdown d-inline-block">
                                                    <a href="#" data-toggle="dropdown"
                                                       class="dropdown-toggle btn btn-outline-secondary">More</a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#" class="dropdown-item">Return</a>
                                                        <a href="#" class="dropdown-item">Cancel order</a>
                                                    </div>
                                                </div> <!-- dropdown.// -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive .end// -->
                        </article> <!-- card order-item .// -->
                    {% endfor %}
                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}