{% extends 'base.html' %}


{% block content %}

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-md-3">
                    <nav class="list-group">
                        <a class="list-group-item" href="{% url 'profile' %}"> Account overview </a>
                        <a class="list-group-item" href="page-profile-address.html"> My Address </a>
                        <a class="list-group-item" href="page-profile-orders.html"> My Orders </a>
                        <a class="list-group-item" href="page-profile-wishlist.html"> My wishlist </a>
                        <a class="list-group-item" href="page-profile-seller.html"> My Selling Items </a>
                        <a class="list-group-item active" href="profile-settings.html"> Settings </a>
                        <a class="list-group-item" href="{% url 'logout' %}"> Log out </a>
                    </nav>
                </aside> <!-- col.// -->
                <main class="col-md-9">

                    <div class="card">
                        <div class="card-body">
                            <form class="row" method="post">
                                {% csrf_token %}
                                <div class="col-md-9">
                                    <div class="form-row">
                                        <div class="col form-group">
                                            <label>First Name</label>
                                            <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}">
                                        </div> <!-- form-group end.// -->
                                        <div class="col form-group">
                                            <label>Last Name</label>
                                            <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}">
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row.// -->

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Country</label>
                                            <input type="text" name="country" class="form-control" value="{{ user.country }}">
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group col-md-6">
                                            <label>City</label>
                                            <input type="text" name="city" class="form-control" value="{{ user.city }}">
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row.// -->

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Zip Code</label>
                                            <input type="text" class="form-control" value="150100">
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group col-md-6">
                                            <label>Phone Number</label>
                                            <input type="text" name="phone_number" class="form-control" value="{{ user.username }}">
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row.// -->

                                    <button class="btn btn-primary">Save</button>
                                    <button class="btn btn-light">Change password</button>

                                    <br><br><br><br><br><br>

                                </div> <!-- col.// -->
                                <div class="col-md">
                                    <img src="/static/images/profile.png" class="img-md rounded-circle border">
                                </div>  <!-- col.// -->
                            </form>
                        </div> <!-- card-body.// -->
                    </div> <!-- card .// -->


                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}