{% extends 'base.html' %}


{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">


            <!-- ============================  FILTER TOP  ================================= -->
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"> Your are here:</div> <!-- col.// -->
                        <nav class="col-md-8">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a
                                        href="{% url 'category' subcategory.category.slug %}">{{ subcategory.category.title }}</a>
                                </li>
                                <li class="breadcrumb-item">{{ subcategory.title }}</li>
                            </ol>
                        </nav> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr>
                    <div class="row">
                        <div class="col-md-2">Filter by</div> <!-- col.// -->
                        <form class="col-md-10">
                            <ul class="list-inline">
                                <li class="list-inline-item mr-3 dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Country </a>
                                    <div class="dropdown-menu p-3">
                                        {% for country in countries %}
                                            <label class="form-check">
                                                <input type="checkbox" name="country" value="{{ country }}"
                                                       class="form-check-input"
                                                        {% for filter_country in filter_countries %}
                                                            {% if filter_country == country %}
                                                       checked
                                                            {% endif %}
                                                        {% endfor %}
                                                >
                                                {{ country }}
                                            </label>
                                        {% endfor %}
                                    </div> <!-- dropdown-menu.// -->
                                </li>
                                <li class="list-inline-item mr-3 dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Brand </a>
                                    <div class="dropdown-menu p-3">
                                        {% for brand in brands %}
                                            <label class="form-check">
                                                <input type="checkbox" name="brand" value="{{ brand }}"
                                                       class="form-check-input"
                                                        {% for filter_brand in filter_brands %}
                                                            {% if filter_brand == brand %}
                                                                checked
                                                            {% endif %}
                                                        {% endfor %}
                                                >
                                                {{ brand }}
                                            </label>
                                        {% endfor %}
                                    </div> <!-- dropdown-menu.// -->
                                </li>
                                <li class="list-inline-item mr-3">
                                    <div class="form-inline">
                                        <label class="mr-2">Price</label>
                                        <input class="form-control form-control-sm" name="min_price" {% if min_price %} value="{{ min_price }}" {% endif %} placeholder="Min"
                                               type="number">
                                        <span class="px-2"> - </span>
                                        <input class="form-control form-control-sm" name="max_price" {% if max_price %} value="{{ max_price }}" {% endif %} placeholder="Max"
                                               type="number">
                                        <button type="submit" class="btn btn-sm btn-light ml-2">Filter</button>
                                    </div>
                                </li>
                            </ul>
                        </form> <!-- col.// -->
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
            </div> <!-- card.// -->
            <!-- ============================ FILTER TOP END.// ================================= -->

            <header class="mb-3">
                <div class="form-inline">
                    <strong class="mr-md-auto">{{ products.count }} Items found </strong>
                    <select class="mr-2 form-control">
                        <option>Latest items</option>
                        <option>Trending</option>
                        <option>Most Popular</option>
                        <option>Cheapest</option>
                    </select>
                    <div class="btn-group">
                        <a href="{% url 'sub-category' subcategory.category.slug subcategory.slug %}?view=large"
                           class="btn btn-light active" data-toggle="tooltip" title="List view">
                            <i class="fa fa-bars"></i></a>
                        <a href="{% url 'sub-category' subcategory.category.slug subcategory.slug %}?view=grid"
                           class="btn btn-light" data-toggle="tooltip" title="Grid view">
                            <i class="fa fa-th"></i></a>
                    </div>
                </div>
            </header><!-- sect-heading -->

            <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <span class="badge badge-danger"> NEW </span>
                                <img src="{{ product.image_set.first.image.url }}">
                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <a href="{% url 'product' product.slug %}" class="title mb-2">
                                    {{ product.name }}
                                </a>
                                <div class="price-wrap">
                                    <span class="price">$ {{ product.price }}</span>
                                    <small class="text-muted">/per item</small>
                                </div> <!-- price-wrap.// -->


                                <p class="text-muted ">{{ product.brand }}</p>

                                <hr>

                                <p class="mb-3">
                                    <span class="tag"> {{ product.guarantee }} </span>
                                    <span class="tag"> {{ product.review_set.count }} reviews </span>
                                    <span class="tag"> {{ product.country }} </span>
                                </p>


                                <a href="{% url 'add-to-cart' product.id %}" class="btn btn-outline-primary">
                                    <i class="fa fa-cart-arrow-down"> Add to Cart</i>
                                </a>

                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                {% endfor %}
            </div> <!-- row end.// -->


            <nav class="mb-4" aria-label="Page navigation sample">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>


            <div class="box text-center">
                <p>Did you find what you were looking for？</p>
                <a href="" class="btn btn-light">Yes</a>
                <a href="" class="btn btn-light">No</a>
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}